<!DOCTYPE html>
{%load static %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        <title>Todo List</title>
    </head>

    <body>
        <header class="header">
            <div class="container">
                <h1><a href="#">To Do List</a></h1>
            </div>
        </header>
        <main>
            <div class="container">
                {%block content%}
                {%endblock content%}
            </div>
        </main>
        <footer class="footer">
            <div class="container">
               <p>&copy; Copyright {% now "Y" %}</p>
            </div>
        </footer>
    </body>

</html>